body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
main img {
	width: 400px;
	height: 400px;
	padding-top:  20px;
	padding-bottom:  20px;	
}
main .nebimg {
	float: left;
	padding-right:  20px;
	
}
main .neb2img {
	float: right;
	padding-left:  20px;
	}
